*{
	margin:0px;
	padding:0px;
}
header,nav,ul,aside,section,footer,hgroup,article{
display: block;
}
body{
	width:100%;
}
.first{
	max-width:100%;	
	display:-webkit-box;
	height:667px;	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.1))), url("../img/ByTarun.png") repeat 0 0;
	background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.1))), url("../img/ByTarun.png") repeat 0 0;
	background: -o-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.1))), url("../img/ByTarun.png") repeat 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.title{
	position: absolute;
	left: 30%;
	top:25px;
}

.ml{
position:absolute;
display:block;
font-family:"tahoma","Times New Roman";
font-size:25px;
top:100px;
right:100px;
}
a:link {text-decoration:none;color:black;}
a:visited {text-decoration:none;color:black;}
a:hover {text-decoration:underline;color:black;}
a:active {text-decoration:underline;color:black;}

.search_tool{
	position: absolute;
	top:200px;
	font-family:"tahoma","Times New Roman";
	font-size: 23px;
	color: #052a1e;
	left:100px; 
}

.search_tool div {
	border:1px solid black;
	padding: 34px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-o-border-radius:5px; 
	float: left;
	margin: 40px;
	background:rgba(255,255,255,0.4);
}


.search_tool div.background {
	opacity:0.1;
}
.search_tool div #entersearch{

	font-family:"tahoma","Times New Roman";
	font-size: 20px;
	
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

.search_tool div  #s_button {
	margin: 10px;
	margin-top: 15px;
	margin-left: 350px;
	font-size: 20px;
	border-color:#6fa035;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#92d049;
}

