li {
	list-style-type: none;
}


body{
	margin: 1px;
	margin-left:2px;  
}

#p_main{

	width: 1345px;
	height: 668px;
	overflow: ;
}

#p_first{
	background-color: #bea74b;
/*#91a0a2*/
	float: left;
	width: 250px;
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
	/*font-weight: bold;*/
	padding-top:80px;
	height: 582px; 
}

#p_second{
	background-color:#cfcab6; 
	/* #cdd4d5 */	
	width: 1095px;
	height: 662px;
	overflow: auto;
}

table
{
border-collapse:collapse;
margin:auto;
position: relative;
top: 20px;
font-size: 18px;
}
table, td, th
{
border:0px solid grey;
	background:rgb(0,0,0);  
    background: transparent\9;  
    background:rgba(255,255,255,0.1);
    width: 500px;
}
th{
 background-color:#18647a;
 color:white;
font-family:"tahoma","Times New Roman";
}
td{
	padding:10px;
	font-family:"Times New Roman","tahoma";
	text-align:center;
}

#profile{
	display: block;
}

#search{
	display: none;
	padding-top: 200px;
	text-align: center;
	font-size:20px;
	width: 1095px;
	height: 469px;
	overflow: auto;
}

#search input{
		font-size:23px; 	
}
#search input{
		font-size:20px; 	
}

#others_profile{
	display: none;
}

#editfirst{
	display: none;
	font-size: 23px;
	text-align: center;
	position: relative;
	top: 230px;
}

#add_content{
  text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  margin-top:50px ; 
  margin-bottom:20px;
  display: none;
}

#add_content input{
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
}

#blogposts {
	display: none;
}

#b_complete{
	border: 1px solid black;
	margin: 23px;
	margin-left: 56px;
	margin-right: 56px; 
	border-radius: 10px;
	padding:45px;
	padding-top: 0px;
	min-height: 100%; 
	background-color: white; 
}

#comment_section li{
	margin-bottom: 7px;
}

#b_complete:before{
}

#bback{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;
	background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;
	background: gradient(to linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;
	background: -o-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;		
	background-repeat: no-repeat;
	background-attachment: fixed;
	}


a:link {text-decoration:none;color:black;}
a:visited {text-decoration:none;color:black;}
a:hover {text-decoration:underline;color:black;}
a:active {text-decoration:underline;color:black;}
a:active {text-decoration:underline;color:black;}
.sign1	a:hover {text-decoration:none;color:black;}
.sign1	a:active {text-decoration:none;color:black;}

#edit_content{
  text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  display: none;
  margin-top:50px ; 
  margin-bottom:20px;
}

#edit_content input{
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
}

#select_post{
	padding-top: 54px;
	text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  display: none;
}

#message{
	position: absolute;
	top: 250px;
	left: 1150px;
	z-index: 4;	
}

#message button{
	height: 30px;	
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 18px;
  background-color: #79b2e3;
  border-radius: 8px;
}

#message_wr{
	top: 100px;
	position: relative;
	display: none;
}

#message_wr td{
	text-align: left;
}

#message_wr input["button"]:before{
	text-align: center;
}

#message_inbox{
	display: none;
}

#message_inbox{
	display: none;
	position: relative;
	top: 60px;
}

#message_inbox center{
	font-size: 23px;
}

#message_new{
	background-color: #7ce583;	
}

#feedback{
	top: 100px;
	position: relative;
	display: none;
}

#feedback td{
	text-align: left;
}
/*remove duplicacy*/

#feedback input["button"]:before{
	text-align: center;
}

#profile_image{
	position: absolute;
	top: 23px;
	left: 1100px;
	z-index: 2;
	height: 200px;
}

#profile_image img{
	height: 200px;
}

#profile_image #image_button{
	font-size: 20px;
	background-color: #ffffff;
	width: 130px;	
	border-radius: 23px;
	position: relative;
	top: -180px;
	left: 30px;
	display: none;
	cursor: pointer;
}

#profile_image:hover #image_button{
	display: block;
}

#profile_section{
	position: absolute;
	height: 230px;
	top: 23px;
	left: 530px;
	background-color: white;
	width: 340px;
	z-index: 3;
	border: 1px solid black;
	border-radius: 13px;
	padding: 23px;
	font-size: 20px;
	display: none;	
}

#complaint{
	display: none;
	position: relative;
	top: 60px;
}