li {
	list-style-type: none;
}


body{
	margin: 1px;
	margin-left:2px; 
	cursor: default; 
}

#p_main{

	width: 1345px;
	height: 668px;
	overflow: ;
}

#p_first{
	background-color: #675595;
/*#91a0a2*/
	float: left;
	width: 250px;
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
	/*font-weight: bold;*/
	padding-top:80px;
	color: #d9d5df;
	height: 582px; 
}

#p_first div:hover{
	color: black;
}

#p_first a {
	color: #d9d5df; 
    text-decoration: none;
}

#p_first a:visited {
    text-decoration: none;
}

#p_first a:hover {
    text-decoration: none;
    color: black;
}

#p_first a:active {
    text-decoration: none;
}

#p_second{
	background-color:#efecf2; 
	/* #cdd4d5 */	
	width: 1095px;
	height: 662px;
	overflow: auto;
}

table
{
border-collapse:collapse;
margin:auto;
position: relative;
top: 20px;
font-size: 18px;
}
table, td, th
{
border:0px solid grey;
	background:rgb(0,0,0);  
    background: transparent\9;  
    background:rgba(255,255,255,0.1);
    width: 500px;
}
th{
 background-color:#18647a;
 color:white;
font-family:"tahoma","Times New Roman";
}
td{
	padding:10px;
	font-family:"Times New Roman","tahoma";
	text-align:center;
}

#profile{
	display: block;
}

#search{
	display: none;
	padding-top: 200px;
	text-align: center;
	font-size:20px;
	width: 1095px;
	height: 469px;
	overflow: auto;
}

#search input{
		font-size:23px; 	
}
#search input{
		font-size:20px; 	
}

#others_profile{
	display: none;
}

#editfirst{
	display: none;
	font-size: 23px;
	text-align: center;
	position: relative;
	top: 230px;
}

#add_content{
  text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  margin-top:50px ; 
  margin-bottom:20px;
  display: none;
}

#add_content input{
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
}

#blogposts {
	display: none;
}

#b_complete{
	border: 1px solid black;
	margin: 23px;
	margin-left: 56px;
	margin-right: 56px; 
	border-radius: 10px;
	padding:45px;
	padding-top: 0px;
	min-height: 100%; 
	background-color: white; 
}

#comment_section li{
	margin-bottom: 7px;
}

#b_complete:before{
}

#bback{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;
	background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;
	background: gradient(to linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;
	background: -o-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))), url("../img/archi.png") repeat 0 0;		
	background-repeat: no-repeat;
	background-attachment: fixed;
	}


a:link {text-decoration:none;color:black;}
a:visited {text-decoration:none;color:black;}
a:hover {text-decoration:underline;color:black;}
a:active {text-decoration:underline;color:black;}
a:active {text-decoration:underline;color:black;}
.sign1	a:hover {text-decoration:none;color:black;}
.sign1	a:active {text-decoration:none;color:black;}

#edit_content{
  text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  display: none;
  margin-top:50px ; 
  margin-bottom:20px;
}

#edit_content input{
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
}

#select_post{
	padding-top: 54px;
	text-align: center;
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 23px;
  display: none;
}

#message{
	position: absolute;
	top: 250px;
	left: 1140px;
	z-index: 4;	
}

#message button{
	height: 30px;	
  font-family:  Georgia, "Times New Roman",Serif;
  font-size: 18px;
  background-color: #27AE60;
  border-radius: 8px;
}

#message_wr{
	top: 100px;
	position: relative;
	display: none;
}

#message_wr td{
	text-align: left;
}

#message_wr input["button"]:before{
	text-align: center;
}

#message_inbox{
	display: none;
}

#message_inbox{
	display: none;
	position: relative;
	top: 60px;
}

#message_inbox center{
	font-size: 23px;
}

#message_inbox table{
	width: 1000px;
}
#message_new{
	background-color: #7ce583;	
}

#feedback{
	top: 100px;
	position: relative;
	display: none;
}

#feedback td{
	text-align: left;
}
/*remove duplicacy*/

#feedback input["button"]:before{
	text-align: center;
}

#profile_image{
	position: absolute;
	top: 23px;
	left: 1080px;
	z-index: 2;
	height: 210px;
	border: 1px solid black;
	color: black;
	overflow: hidden;
}

#profile_image img{
	padding:5px;
	height: 200px;
	max-width: 240px;
}

#profile_image #image_button{
	font-size: 20px;
	background-color: #787d7f;
	border-radius: 0px;
	position: relative;
	top: -60px;
	left: 5px;
	display: none;
	cursor: pointer;
	opacity: 0.8;
	width: 240px;
    filter: alpha(opacity=80);
    height: 43px;
    margin-top:15px;
    padding-top: 5px; 
}

#profile_image #image_button img{
	height: 30px;
	position: relative;
	top: -8px;
	float: left;
}

#profile_image:hover #image_button{
	display: block;
}

#profile_section{
	position: absolute;
	height: 150px;
	top: 130px;
	left: 530px;
	background-color: #c0d5db;
	width: 340px;
	z-index: 3;
	border: 1px solid black;
	border-radius: 3px;
	padding: 23px;
	font-size: 18px;
	display: none;
	z-index: 999;
}

#profile_section input[type="submit"],#profile_section input[type="button"]{

	background-color: #238a8b;
	height: 35px;
	font-size: 15px;
	padding: 8px;
	border-color: #0c5f60;
	border-radius: 5px;
	margin-left: 30px;
	padding-right: 25px;
	padding-left: 25px;
}

#complaint{
	display: none;
	position: relative;
	top: 60px;
}

#complaint input[type=button],#feedback input[type=button],#search input[type=button]{
	width: 150px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 5px 2px;
}